*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    background-image:url(grass.png);
}
body::-webkit-scrollbar{
    display: none;
}
nav{
    width: 100vw;
    height: 80px;
    background-color: aquamarine;
}
a{
    text-decoration: none;
    color: inherit;
}
#song:hover{
    background-color: rgba(128, 128, 128, 0.288);
}
#container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
#song{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-top: 3px solid burlywood;
    border-left: 3px solid burlywood;
    border-right: 3px solid burlywood; */
    margin: 40px 70px;
    width: 220px;
    height: 300px;
    justify-content:space-between;
}
#title{
    padding:5px 15px;
    background-color: teal;
}
#cover-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid rgb(255, 0, 149); */
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 3;
}
#cover-aritsts-container{
    width: 100%;
    display: grid;
    grid-template-columns: 0px 220px;
    grid-template-rows: 60px 40px;
}
#cover{
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 0px 1px black,
    0px 0px 0px 6px rgb(161, 91, 34);
}
#cover-board-stick{
    width: 10px;
    height: 50px;
    background-color: rgb(161, 91, 34);
}
#artists{
    grid-column: 2;
    width: 220px;
    display:flex;
    align-items: center;
    background-color: grey;
    box-shadow: rgb(71, 71, 71) 0px 0px 0px 3px;
    font-size: 18px;
    justify-content: center;
}
/* #artist-margin{
    height: 100%;
    width: 25px;
    align-self:flex-start;
} */
#fence{
    grid-column: 2;
    display: flex;
    align-items:end;
    overflow: hidden;
    color: burlywood;
    font-weight: 900;
    font-size: 60px;
}
#animal-container{
    margin-top: 40px;
    height: 120px;
    width: 120px;
}
#animal{
    height: 100%;
    width: 100%;
    animation: jump 1s infinite;
    /* animation-timing-function: cubic-bezier(.9,.2,.3,.85); */
    animation-timing-function: cubic-bezier(.8,.3,.2,.9);
}  
@keyframes jump {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
}
path {
  fill: transparent;
  height: 100%;
}
text {
  fill: #FF9800;
  width: "500";
}
textPath{
    font-size: 20px;
    overflow: visible;
    stroke: rgb(0, 0, 255);
    stroke-width: 2px;
    fill: none;

}
svg{
    height: 30px;
    overflow: visible;
    z-index: 3;
}
#song-details-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
#v{
    width: 50px;
    height: 40px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popularity{
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
}
#song-details{
    background-color: rgba(209, 120, 48, 0.568);
    width: 700px;
    height: 300px;
    color: white;
}
#sd-top{
    font-size: 40px;
    display: inline-block;
}
#sd-top section{
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
}
#sd-title{
    font-size: 45px;
    margin: 10px;
}
#sd-artists{
    font-size: 30px;
}
p a{
    color: red;
}
#spoti{
    margin-left: 5px;
    height: 35px;
}
button{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 5px 5px 5px 0px ;
}